# AWS Key Pairs — NEVER commit these
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*.pyc
.env
venv/
.venv/
env/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfplan

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
